# CLOUDLINUX PASSENGER CONFIGURATION BEGIN
PassengerAppRoot "/home/mlmx2356/application-tracking"
PassengerBaseURI "/."
PassengerNodejs "/home/mlmx2356/nodevenv/application-tracking/backend/18/bin/node"
PassengerAppType node
PassengerStartupFile /backend/app/server.js
# CLOUDLINUX PASSENGER CONFIGURATION END